* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FCF8F3;
  --secondary-color: #8D0B41;
  --tertiary-color: #FFBF00;
}

body {
  font-family: Open Sans, sans-serif;
  line-height: 1.6;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Navbar Section */

.navbar {
  background: var(--secondary-color);
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;

  a {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
  }

  a:hover {
    color: var(--tertiary-color);
    font-weight: bolder;
    transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  }
}

.navbar-logo img {
  border-radius: 50%;
}

.navbar-title {
  color: var(--primary-color);
  font-size: 2rem;
  font-family: Playfair;
  font-weight: bold;
  font-style: italic;
}

.navbar-menu {
  width: 300px;
  font-style: oblique;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
}

.navbar-item a {
  font-size: 1.5rem;
}

/* Media Queries */

@media (max-width: 1200px) {
  .navbar-title {
    font-size: 1.7rem;
  }

  .navbar-item a {
    font-size: 1.2rem;
  }

}

@media (max-width: 920px) {
  .navbar-title {
    display: none;
  }
}

@media (max-width: 556px) {
  .navbar-logo img {
    max-width: 50%;
  }
}