* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcf8f3;
  --secondary-color: #872341;
  /* --secondary-color: #8d0b41; */
  --tertiary-color: #ffbf00;
}

body {
  font-family: Open Sans, sans-serif;
  line-height: 1.6;
  background-color: var(--secondary-color);
  color: #fcf8f3;
  /* padding-top: 180px; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  /* height: auto; */
}

/* .container {
  width: 100%;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
} */

/* Hero Section */
.hero {
  width: 100vw;
  height: 50vh;
  background-image: url("images/meat-dish.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */

@media (max-width: 2560px) {
  .hero {
    height: 500px;
  }
}

@media (max-width: 2000px) {
  .hero {
    height: 350px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 920px) {
  .hero {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 250px;
  }
}

@media (max-width: 556px) {
  .hero {
    height: 200px;
  }
}
